.first_sentence{
    font-family: 'Courier New', Courier, monospace;
}

.second {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.third {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul{
    list-style: square;
}

.image {
    border: 15px ridge blue;
}
